{% extends "base.html" %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<title>RGB Maker</title>

<section class="hero is-primary is-bold is-small">
    <p class="title ">RGB Maker</p>
    <div class="hero-body column is-mobile">
        <div class="column">
            <form class="">

                <div class="field">
                    <p class="has-icons-left">
                        <div class="">
                        {{form.name}}
                        <span class="icon is-small is-left">
                        </div>
                        
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="has-icons-left">
                        {{form.position}}
                        <span class="icon is-small is-left">
                            
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class=" has-icons-left">
                        {{form.radius}}
                        <span class="icon is-small is-left">
                            
                        </span>
                    </p>
                </div>
                <div class="field">        
                    {{form.archives.label}}
                        <div class="">
                            <div class="select is-small">
                                {{form.archives}}
                            </div>
                        </div>
                        
                        <span class="icon is-small is-left">
                            
                        </span>
                    </p>
                
                    <p class=" has-icons-left">
                        {{form.images.label}}
                        <div class="">
                            <div class="select is-small">
                                {{form.images}}
                            </div>
                        </div>
                        <span class="icon is-small is-left">
                            
                        </span>
                    </p>
                </div>

                <br>
                <p id="query-btn" class=" ">
                    <input id="submit" class="button is-primary " name="submit" type="submit" value="query">
                </p>
                
                    <span id="loading" class="button is-loading is-primary" style="display: none;"> Loading...</span>
                    <span id="abort" class="button is-primary" style="display: none;"> Abort</span>
                    

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                    <li id="{{ category }}" class="{{message[0]}}">
                        {{message[1]}} <br>
                        {% if message[2] %}
                            <img src="{{message[2]}}" />
                        {% endif %}
                        
                    {% endfor %}
                    
                </ul>
                {% endif %}
                {% endwith %}

                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                <div class="alert-message block-message error">
                    <a class="close" href="#">×</a>
                    <ul>
                        {%- for msg in errors %}
                        <li>{{ msg }}</li>
                        {% endfor -%}
                    </ul>
                </div>
                {% endif %}
                {% endwith %}
        
            </form>
        </div>
        <div id="skv-output " class=" has-text-centered column">
            
            <div id="skv-output-img" class="">
            </div>
            
                
        </div>
    </div>
<article class="message is-dark tile">
    <div id="skv-output-status" class="message-body" style="display: None;">
    
        
    </div>
    <div id="skv-output-otext" class="message-body" style="display: None;">
    
        
    </div>
</article>


</section>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
{% endblock %}
{% block scripts %}
<script type=text/javascript>
$LOGIN="{{url_for('login')}}" 
$URL = 'https://sky.radathomeindia.org'
//$URL = "http://localhost:5000"
</script>
 <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
{% endblock %}
